.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 80px;
  margin-bottom: 100px;
  font-size: 1.2rem;
}

.container_info {
  text-align: left;
}
.container_info p {
  color: #f2bb62;
  font-weight: bold;
  justify-content: end;
}

.container_image img {
  border-radius: 10px;
  filter: grayscale(2);
  transform: scale(1.5);
  transition: 0.4s;
}

.container_info_tec {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.container_info_tec img {
  width: 20px;
  height: 20px;
  border: 2px solid #f2bb62;
  padding: 10px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.container_info_tec img:hover {
  transform: rotateY(180deg);
}

.vertical_timeline_element_title {
  background-color: black;
  border-radius: 10px;
  color: #f2bb62;
  opacity: 70%;
}

.vertical_timeline_element_info {
  justify-content: center;
  align-self: center;
  gap: 10px;
}

.vertical_timeline_element_competencias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.vertical_timeline_element_competencias > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.vertical_timeline_element_competencias > div > span {
  background-color: black;
  border-radius: 10px;
  color: #f2bb62;
  opacity: 70%;
  padding: 3px 4px 3px 4px;
}
.vertical_timeline_element_info span {
  background-color: black;
  border-radius: 10px;
  color: #f2bb62;
  opacity: 70%;
  padding: 3px 2px 3px 2px;
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

ul li {
  position: relative;
  padding-left: 20px;
}

ul li::before {
  content: '\25A0';
  position: absolute;
  left: 0;
  color: #f2bb62;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;

    justify-items: center;
  }
  .container_image img {
    margin-top: 100px;
  }
}
