.nav_menu {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  gap: 40px;
}

.nav_menu a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border: 2px solid transparent;
}

.nav_menu a:hover {
  border-top: 2px solid #fab732;
  border-bottom: 2px solid #fab732;
  color: #fab732;
}
