.nav_menu {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

.nav_menu a {
  cursor: pointer;
  padding: 5px;
  margin: 0 10px 0 10px;
  transition: 0.5s;
  text-decoration: none;
  color: #fff;
}

.nav_menu a:hover {
  border-top: 1px solid #fab732;
  border-bottom: 1px solid #fab732;
  transition: 0.5s;
  color: #fab732;
}
